n8n_supabase.json
{
  "name": "Flour Pastificio — Voice AI Post-Call + Supabase",
  "nodes": [
    {
      "parameters": {
        "chatId": "6069780820",
        "text": "={{ $json.telegram_message }}\nCustomer Number: {{ $('Webhook').item.json.body.message.artifact.variables.customer.number }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1488, -416],
      "id": "3b745794-6362-487e-a62e-35adaf27e972",
      "name": "Send a text message",
      "webhookId": "0a95587a-b999-4a37-9ab3-e18748f71b02",
      "credentials": {
        "telegramApi": {
          "id": "41YVVxtufaSyMUkT",
          "name": "Italy-voice-bot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "postcall",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-192, -208],
      "id": "9f161f91-ebb3-4048-a430-f8c010d6ea4e",
      "name": "Webhook",
      "webhookId": "707c0ea7-8da3-49e7-beae-f3c072d556c7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab262e40-cdfc-4fb1-beae-dec6d2e57dbf",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [192, -192],
      "id": "da16357b-510c-4bee-b98f-851f43d61d2b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst messages = body.message.artifact.messages;\n\nconst transcript = messages\n  .filter(m => m.role === 'bot' || m.role === 'user')\n  .map(m => {\n    const role = m.role === 'bot' ? 'AI' : 'User';\n    return `${role}: ${m.message}`;\n  })\n  .join('\\n');\n\nconst callId = body.message.call.id;\nconst callerNumber = body.message.customer.number;\nconst endedReason = body.message.endedReason;\nconst durationSeconds = body.message.durationSeconds;\nconst startedAt = body.message.startedAt;\n\nreturn [{\n  json: {\n    callId,\n    callerNumber,\n    endedReason,\n    durationSeconds,\n    startedAt,\n    transcript\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [432, -224],
      "id": "a39ec0fa-f545-42c6-8b44-a2664c01f380",
      "name": "Code"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a post-call analyst for Flour Pastificio, an Italian restaurant.\n\nYou will receive a phone call transcript between \"AI\" (Marco, the restaurant's AI receptionist) and a customer. The transcript may be in Italian, English, or mixed.\n\nYour job:\n1. Translate the transcript to English internally (do not output the translation)\n2. Analyze the call\n3. Return ONLY a valid JSON object — no preamble, no explanation, no markdown\n\n{\n  \"reservation_made\": true or false,\n  \"reservation_made_reason\": \"e.g. 'All details were confirmed and Marco closed the call with a booking' or 'Customer hung up before completing the reservation'\",\n\n  \"booking_details\": {\n    \"customer_name\": \"string or null\",\n    \"reservation_date\": \"string or null\",\n    \"shift\": \"\"shift\": \"11:00 | 12:00 | 13:00 | 14:00 | 18:00 | 19:00 | 20:00 | 21:00 | null\",\",\n    \"guest_count\": \"number or null\",\n    \"allergies\": \"string or null\",\n    \"whatsapp_number\": \"string or null\"\n  },\n  \"booking_details_reason\": \"e.g. 'Customer confirmed all details: name Giulia, May 3rd, 13:30, 2 guests, nut allergy, WhatsApp confirmed on caller number' or 'Call ended before any booking details were collected'\",\n\n  \"call_summary_en\": \"2-3 sentence plain English summary of what happened, what the customer wanted, and the outcome\",\n  \"call_summary_en_reason\": \"e.g. 'Summary derived from full transcript — customer called to book, all details confirmed' or 'Customer called but hung up after greeting without completing any interaction'\"\n}\n\nRules:\n- If the call was abandoned or no booking was made, still return booking_details with whatever was collected and null for the rest\n- Do not guess or infer data not explicitly stated in the transcript\n- Every _reason field must reference something specific from the transcript\n- Output ONLY the raw JSON object. No markdown, no backticks, no explanation before or after.\n",
              "role": "system"
            },
            {
              "content": "=TRANSCRIPT:\n{{ $json.transcript }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [624, -224],
      "id": "9e059126-246e-48c4-8ffe-ecc069bd2587",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "BZrzUamLqHZnWsBL",
          "name": "New-Mattia"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cde18d1-78f4-47eb-a85d-e1a73f95e753",
              "name": "reservation-done",
              "value": "={{ $json.message.content.reservation_made }}",
              "type": "string"
            },
            {
              "id": "2c2ea5a1-827c-45b9-ae76-6ad631da49de",
              "name": "booking-details",
              "value": "={{ $json.message.content.booking_details }}",
              "type": "string"
            },
            {
              "id": "15bf1c2e-f5a4-4f07-adba-c25dc313985d",
              "name": "call sumary",
              "value": "={{ $json.message.content.call_summary_en }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [992, -224],
      "id": "823411f2-6158-4b24-8658-833d1e6e5988",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Parse booking_details if it's a string\nconst booking = typeof input['booking-details'] === 'string' \n  ? JSON.parse(input['booking-details']) \n  : input['booking-details'];\n\nconst reservationMade = input['reservation-done'] === 'true' || input['reservation-done'] === true;\nconst summary = input['call sumary'] || input['call_summary_en'] || 'No summary available';\n\n// Format each booking field\nconst name = booking.customer_name || '—';\nconst date = booking.reservation_date || '—';\nconst shift = booking.shift || '—';\nconst guests = booking.guest_count || '—';\nconst allergies = booking.allergies || 'None';\nconst whatsapp = booking.whatsapp_number || '—';\n\nconst statusEmoji = reservationMade ? '✅' : '❌';\nconst statusText = reservationMade ? 'Reservation Made' : 'No Reservation';\n\nconst message = `\n🍝 *Flour Pastificio — Post Call Report*\n\n${statusEmoji} *Status:* ${statusText}\n\n📋 *Booking Details*\n- Name: ${name}\n- Date: ${date}\n- Shift: ${shift}\n- Guests: ${guests}\n- Allergies: ${allergies}\n- WhatsApp: ${whatsapp}\n\n📝 *Summary*\n${summary}\n`.trim();\n\nreturn [{\n  json: {\n    telegram_message: message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, -224],
      "id": "c98a274b-2371-4ca6-8256-d28b53c8e4cb",
      "name": "Code1"
    },
    {
      "parameters": {
        "chatId": "1448276947",
        "text": "={{ $json.telegram_message }}\nCustomer Number: {{ $('Webhook').item.json.body.message.artifact.variables.customer.number }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1488, -80],
      "id": "3f932af2-9b0b-4443-a5ed-11dc332f3278",
      "name": "Send a text message1",
      "webhookId": "0a95587a-b999-4a37-9ab3-e18748f71b02",
      "credentials": {
        "telegramApi": {
          "id": "41YVVxtufaSyMUkT",
          "name": "Italy-voice-bot"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────\n// PREP SUPABASE\n// Runs in parallel with Telegram path after Edit Fields.\n// Parses GPT output and shapes it for Supabase writes.\n//\n// ⚠️  BEFORE ACTIVATING: replace CLIENT_ID below.\n// Run this in the Supabase SQL Editor to get the value:\n//   SELECT id FROM clients WHERE name = 'Flour Pastificio';\n// ─────────────────────────────────────────────────────────\n\nconst CLIENT_ID = 'YOUR_FLOUR_PASTIFICIO_CLIENT_ID';\n\nconst input = $input.first().json;\n\nconst booking = typeof input['booking-details'] === 'string'\n  ? JSON.parse(input['booking-details'])\n  : (input['booking-details'] || {});\n\nconst reservationMade =\n  input['reservation-done'] === 'true' || input['reservation-done'] === true;\n\n// Timezone-safe today (avoids UTC midnight shift for non-UTC timezones)\nconst now = new Date();\nconst todayISO = `${now.getFullYear()}-${String(now.getMonth()+1).padStart(2,'0')}-${String(now.getDate()).padStart(2,'0')}`;\n\n// Normalise reservation date: GPT may return \"May 12\" or \"12 maggio\"\nlet reservationDate = booking.reservation_date || null;\nif (reservationDate && !/^\\d{4}-\\d{2}-\\d{2}$/.test(reservationDate)) {\n  const parsed = new Date(reservationDate + ', ' + now.getFullYear());\n  if (!isNaN(parsed)) {\n    reservationDate = `${parsed.getFullYear()}-${String(parsed.getMonth()+1).padStart(2,'0')}-${String(parsed.getDate()).padStart(2,'0')}`;\n  }\n}\n\nconst allergies = booking.allergies || null;\nconst hasAllergy = !!(\n  allergies &&\n  allergies.toLowerCase() !== 'none' &&\n  allergies.toLowerCase() !== 'no allergies' &&\n  allergies.toLowerCase() !== 'nessuna' &&\n  allergies.toLowerCase() !== 'no'\n);\n\nreturn [{\n  json: {\n    client_id:        CLIENT_ID,\n    today:            todayISO,\n    call_id:          $('Webhook').item.json.body.message.call.id,\n    caller_number:    $('Webhook').item.json.body.message.customer.number,\n    reservation_made: reservationMade,\n    customer_name:    booking.customer_name    || null,\n    reservation_date: reservationDate,\n    shift:            booking.shift            || null,\n    guest_count:      booking.guest_count      || null,\n    allergies:        allergies,\n    whatsapp_number:  booking.whatsapp_number  || $('Webhook').item.json.body.message.customer.number,\n    has_allergy:      hasAllergy\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [992, 180],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Prep Supabase"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://rxjcxbbdyewerpeeljjz.supabase.co/rest/v1/rpc/increment_daily_stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4amN4YmJkeWV3ZXJwZWVsamp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg2NjA4NywiZXhwIjoyMDg5NDQyMDg3fQ.wSChCHedJ77lqc-AduF0gA6fI1-bR84EKQh3xGU_dls"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4amN4YmJkeWV3ZXJwZWVsamp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg2NjA4NywiZXhwIjoyMDg5NDQyMDg3fQ.wSChCHedJ77lqc-AduF0gA6fI1-bR84EKQh3xGU_dls"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_client_id: $json.client_id, p_date: $json.today }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 180],
      "id": "b2c3d4e5-f6a7-8901-bcde-f01234567891",
      "name": "Increment Daily Stats"
    },

    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "res-condition-001",
              "leftValue": "={{ $('Prep Supabase').item.json.reservation_made }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1460, 180],
      "id": "c3d4e5f6-a7b8-9012-cdef-012345678902",
      "name": "Reservation Made?"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://rxjcxbbdyewerpeeljjz.supabase.co/rest/v1/reservations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4amN4YmJkeWV3ZXJwZWVsamp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg2NjA4NywiZXhwIjoyMDg5NDQyMDg3fQ.wSChCHedJ77lqc-AduF0gA6fI1-bR84EKQh3xGU_dls"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4amN4YmJkeWV3ZXJwZWVsamp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg2NjA4NywiZXhwIjoyMDg5NDQyMDg3fQ.wSChCHedJ77lqc-AduF0gA6fI1-bR84EKQh3xGU_dls"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ client_id: $('Prep Supabase').item.json.client_id, date: $('Prep Supabase').item.json.reservation_date, time: $('Prep Supabase').item.json.shift, name: $('Prep Supabase').item.json.customer_name, guests: $('Prep Supabase').item.json.guest_count, phone: $('Prep Supabase').item.json.whatsapp_number, notes: null }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 80],
      "id": "d4e5f6a7-b8c9-0123-defa-123456789013",
      "name": "Insert Reservation"
    },

    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "allergy-condition-001",
              "leftValue": "={{ $('Prep Supabase').item.json.has_allergy }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1940, 80],
      "id": "e5f6a7b8-c9d0-1234-efab-234567890124",
      "name": "Has Allergy?"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://rxjcxbbdyewerpeeljjz.supabase.co/rest/v1/allergy_alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4amN4YmJkeWV3ZXJwZWVsamp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg2NjA4NywiZXhwIjoyMDg5NDQyMDg3fQ.wSChCHedJ77lqc-AduF0gA6fI1-bR84EKQh3xGU_dls"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4amN4YmJkeWV3ZXJwZWVsamp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg2NjA4NywiZXhwIjoyMDg5NDQyMDg3fQ.wSChCHedJ77lqc-AduF0gA6fI1-bR84EKQh3xGU_dls"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ client_id: $('Prep Supabase').item.json.client_id, date: $('Prep Supabase').item.json.today, guest_name: $('Prep Supabase').item.json.customer_name, allergy: $('Prep Supabase').item.json.allergies, table_ref: null, status: 'pending' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 0],
      "id": "f6a7b8c9-d0e1-2345-fabc-345678901235",
      "name": "Insert Allergy Alert"
    }
  ],

  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Prep Supabase": {
      "main": [
        [
          {
            "node": "Increment Daily Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Daily Stats": {
      "main": [
        [
          {
            "node": "Reservation Made?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reservation Made?": {
      "main": [
        [
          {
            "node": "Insert Reservation",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Insert Reservation": {
      "main": [
        [
          {
            "node": "Has Allergy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Allergy?": {
      "main": [
        [
          {
            "node": "Insert Allergy Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },

  "settings": {
    "executionOrder": "v1"
  }
}
